<button nz-button nzType="primary" (click)="navigateToProducts()">
  <span nz-icon nzType="left"></span>
  {{ "back_to_list" | translate }}
</button>

<form nz-form [formGroup]="productForm" (ngSubmit)="onSubmit()" @slideIn>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="name">{{
      "product_name" | translate
    }}</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input
        nz-input
        formControlName="name"
        id="name"
        [placeholder]="'enter_product_name' | translate"
      />
      @if (productForm.get('name')?.invalid && productForm.get('name')?.touched)
      {
      <span class="warning__text">
        {{ "product_name_required" | translate }}
      </span>
      }
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="price">{{
      "price" | translate
    }}</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input
        nz-input
        type="number"
        formControlName="price"
        id="price"
        [placeholder]="'enter_price' | translate"
      />
      @if (productForm.get('price')?.invalid &&
      productForm.get('price')?.touched) {
      <span class="warning__text">
        {{ "price_required" | translate }}
      </span>
      }
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="category">{{
      "category" | translate
    }}</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <nz-select
        formControlName="category"
        [nzPlaceHolder]="'select_category' | translate"
      >
        @for (category of categories; track $index) {
        <nz-option [nzValue]="category" [nzLabel]="category"></nz-option>
        }
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="description">{{
      "description" | translate
    }}</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <textarea
        nz-input
        formControlName="description"
        [placeholder]="'enter_description' | translate"
        [nzAutosize]="{ minRows: 2, maxRows: 6 }"
      ></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="sku">{{
      "sku" | translate
    }}</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input
        nz-input
        formControlName="sku"
        id="sku"
        [placeholder]="'enter_sku' | translate"
      />
      @if (productForm.get('sku')?.invalid && productForm.get('sku')?.touched) {
      <span class="warning__text">
        {{ "sku_required" | translate }}
      </span>
      }
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="stock">{{
      "stock" | translate
    }}</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <label nz-checkbox formControlName="stock">{{
        "is_stock_available" | translate
      }}</label>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button
        nzSize="large"
        nz-button
        nzType="primary"
        [disabled]="productForm.invalid"
      >
        {{ "submit" | translate }}
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
